<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        {{>hamburger_menu}}
        {{>cover}}
        {{>sidebar}}
        {{>intro}}
        <!-- section of display -->
        <section class="display" id="image_upload">
            {{>choices}}
            <form class="query-form">
                <input placeholder="upload an image" class="query-form-input">
                <button class="query-form-btn">Search</button>
            </form>

            {{>result}}
        </section>
        <!-- end of display -->

        {{>team}}
        
        {{>footer}}
    </div>

    {{>js_footer}}
    <script type="text/javascript">
        window.href.location="/#image_upload";
    </script>
</body>
</html>