<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        {{>hamburger_menu}}
        {{>cover}}
        {{>sidebar}}
        {{>intro}}
        <!-- section of display -->
        <section class="display" id="image_url">
            {{>choices}}
            <form class="query-form" id='query-url-form'>
                <input placeholder="https://s3.amazonaws.com/model-server/inputs/kitten.jpg" class="query-form-input" id="search_url" value="https://s3.amazonaws.com/model-server/inputs/kitten.jpg">
                <button class="query-form-btn" id="query-url-btn">Search</button>
            </form>
            {{>classification}}

        </section>
        <!-- end of display -->

        {{>team}}
        
        {{>footer}}
    </div>

    {{>js_footer}}
    <script type="text/javascript">
        window.href.location="/#image_url";
    </script>
</body>


</html>