<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        {{>hamburger_menu}}
        {{>cover}}
        {{>sidebar}}

        <!-- section of display -->
        <section class="display" id="display">
            <h1 class="section-heading">Gallery</h1>
            {{>choices}}

            {{>gallery}}
            
        </section>
        <!-- end of display -->

        {{>team}}
        
        {{>footer}}
    </div>

    {{>js_footer}}
</body>
</html>