<div class="choices" id="choices">
    <a href="/gallery/example_query/#example_query">Example</a>
    <a href="/gallery/image_url/#image_url">URL</a>
    <a href="/gallery/image_upload/#image_upload">Upload</a>
</div>