<div>
    <img id="prediction-img" class="prediction-img"></img>
    <div>
        <p class="prediction-title h3">Prediction / Confidence: </p>
    </div>
    <ul class="list-group" id="prediction">
    </ul>
</div>