<header class="header">
    <div class="img-wrapper">
        <img src="/img/bg.jpg" />
    </div>
    <div class="banner">
        <h1>Furniture Retrieval Demo</h1>
        <p>Created for quick deployment of model and demo usage</p>
        <button><a class="button_a" href="/#display">Discover now</a></button>
    </div>
</header>