<header class="header">
    <div class="img-wrapper">
        <img src="/img/imagenet.jpg" />
    </div>
    <div class="banner">
        <h1>Torchserve AWS Demo</h1>
        <p>Serveless deployment of densenet with torchserve and AWS Sagemaker, Lambda, APIGateway</p>
        <button><a class="button_a" href="/#intro">Discover now</a></button>
    </div>
</header>