<!--section of footer  -->
<section class="section-4" id="footer">
    <div class="section-4-text">
        <h2 class="section-4-heading">Sign Me Up</h2>
        <p class="section-4-paragraph">
            BE THE FIRST TO KNOW ABOUT NEW FEATURES
        </p>
    </div>
    <form class="signup-form">
        <input
            type="email"
            class="signup-form-input"
            placeholder="Enter Your Email"
        />
        <button type="submit" class="signup-form-btn">
            <i class="fas fa-arrow-right"></i>
        </button>
    </form>
    <p class="copyright">Created by &copy; Jiali Duan</p>
</section>
<!-- End of Section 4 -->