<div class="gallery" id="gallery">
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/51kZL0C4zrL.jpg" class="food-img" />
        <h3 class="food-name">51kZL0C4zrL</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/61mzn2dbPnL.jpg" class="food-img" />
        <h3 class="food-name">61mzn2dbPnL</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/71eQL0Z+O8L.jpg" class="food-img" />
        <h3 class="food-name">71eQL0Z+O8L</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/71wwOer6HlL.jpg" class="food-img" />
        <h3 class="food-name">71wwOer6HlL</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/71ZsX4-4zWL.jpg" class="food-img" />
        <h3 class="food-name">71ZsX4-4zWL</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
    <a href="#" class="gallery-link" title="Order Now">
        <img src="/img/furniture/91qHNSL6AbL.jpg" class="food-img" />
        <h3 class="food-name">91qHNSL6AbL</h3>
        <p class="food-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            commodi possimus iure hic excepturi. Corporis!
        </p>
    </a>
</div>