<section class="intro" id="intro">
    <div class="section-header">
        <h1 class="section-heading">Overview of the Framework</h1>
    </div>
    <img src="/img/framework.png" alt="" class="intro-img">
</section>