{{!-- hamburger-menu --}}

{{!-- cover --}}

<!-- sectionn of sidebar -->
<section class="sidebar">
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link" data-content="Home">Home</a>
        </li>
        <li class="menu-item">
            <a href="/#display" class="menu-link" data-content="Gallery">Gallery</a>
        </li>
        <li class="menu-item">
            <a href="#team" class="menu-link" data-content="Team">Team</a>
        </li>
        <li class="menu-item">
            <a href="#footer" class="menu-link" data-content="Contact">Contact</a>
        </li>
    </ul>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</section>
<!-- end of sidebar -->