<!--section of team  -->
<section class="team" id="team">
    <div class="section-header">
        <h1 class="section-heading">Our Team</h1>
        <div class="underline"></div>
    </div>

    <div class="cards-wrapper">
        <div class="card" data-tilt>
            <div class="card-img-wrapper">
                <img src="/img/jialiduan.jpeg" alt="" />
            </div>
            <div class="card-info">
                <h2>Jiali Duan</h2>
                <h3>Applied Scientist</h3>
                <p>Model training, web-backend and deployment</p>
                <button>Read More</button>
            </div>
        </div>

        <div class="card" data-tilt>
            <div class="card-img-wrapper">
                <img src="/img/xiaoyuan.jpeg" alt="" />
            </div>
            <div class="card-info">
                <h2>Xiaoyuan Guo</h2>
                <h3>PhD@Emory</h3>
                <p>Web-frontend, model design</p>
                <button>Read More</button>
            </div>
        </div>

        {{!-- <div class="card" data-tilt>
            <div class="card-img-wrapper">
                <img src="/img/sontran.jpeg" alt="" />
            </div>
            <div class="card-info">
                <h2>Son Tran</h2>
                <h3>Principal Applied Scientist</h3>
                <p>Project Management</p>
                <button>Read More</button>
            </div>
        </div> --}}
    </div>
</section>
<!-- end of team -->